@{
    ViewBag.Title = "About Us";
}
<ul class="breadcrumb">
    <li> @Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">About</li>
</ul>
<h2>@ViewBag.Title.</h2>

<p align="justify">
    The strong family values central to Shady's Pines’s ethos help ensure that not only are residents cared for as loved ones but that they are empowered 
    with a sense of belonging within their new home. It is our mission to ensure our residents always feel valued and loved within the Shady Pines family. 
    We are proud of our ability to provide residents with an environment that promotes independence, friendship and security within a beautiful setting.
</p>
<img src="~/Content/Images/download.jpg" />
<p>
    We spealise in:
</p>


    <ul>
    <li>24 hour Nursing Care</li>
    <li>Dementia</li>
 
   <li>Physical Disability</li> 
    <li>Mental Health</li>
    <li>Acquired Brain Injury</li>
    <li>Respite & Convalescence</li>
    <li> Palliative Care</li>
    <li>Transitional Care</li>
    </ul>


<p align="justify">
    24-7 care will be provided by our experienced team, comprising fully qualified RGN's, FETAC trained care assistants and daily Doctor visits.
    Shady Pines is made up of 52 single rooms and 17 doubles. We also have an activities room, a conference/training room and a professional development room.
    We offer first class dining, landscaped outdoor spaces and a well stocked library.
</p>
