@{
    ViewBag.Title = "Contact Us";
}
<ul class="breadcrumb">
    <li> @Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Contact</li>
</ul>
<h2>@ViewBag.Title.</h2>

<address>
    194 Magnolia Lane<br />
    Richmond Town, Dublin 22<br />
    <abbr title="Phone">P:</abbr>
    (+)353-86-3944484
</address>
<p>We always welcome your comments, please call, email or stop off at reception to ask for a quick chat.</p>
<address>
    <strong>Support:</strong>   <a href="mailto:shadypinescarehome@outlook.com">shadypinescarehome@outlook.com</a><br />
    <strong>Enquires:</strong> <a href="mailto:shadypinescarehome@outlook.com">shadypinescarehome@outlook.com</a>
</address>