@{
    <h2>ViewBag.Title.</h2>
    <h3>ViewBag.Message</h3>

    ViewBag.Title = "About";
    @*int[] n = ViewBag.total;

         int size = n.Length;

         string[] days = new string[size];
         for (int i = 0; i < n.Length; i++)
         {
             days[i] = "Day " + (i + 1);
             i++;
         }

         Chart myChart = new Chart(width: 1600, height: 600, theme: ChartTheme.Green)

             .AddTitle("Patient Daily Health Totals ")
             .AddSeries(

            name: "Employee",
            legend: "Hello",
             chartType: "Line",

             xValue:days,
             yValues:n)
             .Write();


        }*@


    int[] n;
    n = ViewBag.total;

    int size = n.Length;

    string[] days = new string[size];
    
    for (int i = 0; i < days.Length; i++)
    {
        days[i] = "Day " + (i + 1);
        
    }

    var myChart = new Chart(width: 1700, height: 800, theme: ChartTheme.Green)
    .AddTitle("Patient Health")
    .AddSeries(
        name: "Employee",
        chartType: "Line",
        //xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" ,"Tom","Steph"},
        xValue: days,
        //yValues: new[] { "10", "6", "4", "55", "3" ,"5","9"}
        yValues:n)
    .Write();

}