<h4>Title</h4>
@{
    <h4>Title</h4>

    int[] n;
    n = ViewBag.total;

   <h1>ViewBag.name</h1>
    int size = n.Length;

    // length of stay determined by size of array
    string[] days = new string[size];

    // display No. of days on X axis
    for (int i = 0; i < days.Length; i++)
    {
        days[i] = "Day " + (i + 1);

    }
   
    string myTheme =

                 @"<Chart BackColor=""#D3DFF0"" BackGradientStyle=""TopBottom"" BorderColor=""181, 64, 1"" BorderWidth=""2"" BorderlineDashStyle=""Solid"" Palette=""BrightPastel"">

  <ChartAreas>

    <ChartArea Name=""Default"" _Template_=""All"" BackColor=""Transparent"" BackSecondaryColor=""White"" BorderColor=""64, 64, 64, 64"" BorderDashStyle=""Solid"" ShadowColor=""Transparent"">

      <AxisY LineColor=""64, 64, 64, 64"">

        <MajorGrid Interval=""Auto"" LineColor=""64, 64, 64, 64"" />

        <LabelStyle Font=""Trebuchet MS, 8.25pt, style=Bold"" />

      </AxisY>

      <AxisX LineColor=""64, 64, 64, 64"">

        <MajorGrid LineColor=""64, 64, 64, 64"" />

        <LabelStyle Font=""Trebuchet MS, 8.25pt, style=Bold"" />

      </AxisX>

      <Area3DStyle Inclination=""15"" IsClustered=""False"" IsRightAngleAxes=""False"" Perspective=""10"" Rotation=""10"" WallWidth=""0"" />

    </ChartArea>

  </ChartAreas>

  <Legends>

    <Legend _Template_=""All"" Alignment=""Center"" BackColor=""Transparent"" Docking=""Bottom"" Font=""Trebuchet MS, 8.25pt, style=Bold"" IsTextAutoFit =""False"" LegendStyle=""Row"">

    </Legend>

  </Legends>

  <BorderSkin SkinStyle=""Emboss"" />

</Chart>";
        var myChart = new Chart(width: 1700, height: 800, theme: myTheme)

        .AddTitle(ViewBag.name)
        .AddSeries(
        name: "Chart",
        chartType: "Line",

        xValue:days,
        yValues:n
        )
        .Write();

       }
